---
layout: default
title: Index
---

<section id="home" class="section section--landing background-cover" 
  style="background-image: url('{% link assets/images/landing-image.webp %}'), url('{% link assets/images/landing-image.jpg %}');">
  <div class="section__container">
    <div class="section__header">
      <p class="section__label">Unlock Your Best Self</p>
      <h1 class="section__title">A Journey to Wellness with Doe Fitness</h1>
      <p class="section__subtitle">Embark on a transformative odyssey toward holistic well-being and discover the empowered, confident version of yourself.</p>
    </div>
    <div class="section__actions">
      {% include components/button.html %}
    </div>
  </div>
  {% svg assets/graphic/separator.svg class="separator separator--bottom" %}
</section>

<section id="about" class="section">
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">About Doe Fitness</h2>
      <div class="section__subtitle">
        <p class="subtitle">At Doe Fitness, we understand that the path to feeling good is not just about numbers on a scale—it's a journey of self-love, resilience, and sustainable health.</p>
        <p class="subtitle">In a world inundated with fleeting fitness trends and unrealistic beauty standards, our mission is to guide you through
          a personalized expedition, crafting a narrative of triumph over challenges and fostering a profound connection between
          your body, mind, and spirit.</p>
      </div>
    </div>
  </div>
</section>

<section id="values" class="section section--paper">
  {% svg assets/graphic/separator.svg class="separator separator--top" %}
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">Values and philosophy</h2>
    </div>
    <div class="section__content">
      <div class="grid grid--spacing5 grid--jcCenter">
        {% for card in site.data.values %}
        <div class="grid__item grid__item--wrap">
          <div class="card card--lg card--values">
            {% svg "assets/icons/{{ card.icon }}.svg" class="card__icon" %}
            <div class="card__header">
              <h3 class="card__title">{{ card.title }}</h3>
              <p class="card__subtitle">{{ card.subtitle }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section section--background background-cover"
  style="background-image: url('{% link assets/images/yoga.webp %}'), url('{% link assets/images/yoga.jpg %}');">
  {% svg assets/graphic/separator-inverted.svg class="separator separator--top separator--paper" %}
  <div class="section__container">
    <div class="section__header">
      <p class="section__title">At Doe Fitness, we believe in the power of sustainable change and the beauty of self-discovery</p>
    </div>
    <div class="section__actions">
      {% include components/button.html %}
    </div>
  </div>
  {% svg assets/graphic/separator-inverted.svg class="separator separator--bottom" %}
</section>

<section id="testimonials" class="section">
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">Don’t take our word for it</h2>
    </div>
    <div class="section__content">
      <div class="carousel">
        <div class="carousel__content">
          <span class="carousel__button button button--md button--icon button--grey">
            {% svg assets/icons/arrow-left.svg %}
          </span>
          <div class="carousel__items">
            {% for card in site.data.testimonials %}
            <div class="carousel__item">
              <div class="card card--md card--testimonials">
                <picture>
                  <source srcset="{% link assets/images/testimonials/{{ card.title | slugify }}.webp %}" type="image/webp">
                  <source srcset="{% link assets/images/testimonials/{{ card.title | slugify }}.jpg %}" type="image/jpeg">
                  <img src="{% link assets/images/testimonials/{{ card.title | slugify }}.jpg %}" alt="Portait of a woman"
                    class="card__media">
                </picture>
                <p class="card__content">{{ card.content }}</p>
                <div class="card__header">
                  <p class="card__title">{{ card.title }}</p>
                  <p class="card__subtitle caption">Coached for {{ card.duration }} months</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <span class="carousel__button button button--md button--icon button--grey">
            {% svg assets/icons/arrow-right.svg %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% svg assets/graphic/separator.svg class="separator separator--bottom separator--paper" %}
</section>

<section id="programs" class="section section--paper">
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">Our programs</h2>
    </div>
    <div class="section__content">
      <div class="grid grid--spacing2 grid--jcCenter">
        {% for card in site.data.programs %}
        <div class="grid__item grid__item--wrap">
          <div class="card card--lg card--programs background-cover"
            style="background-image: url('{% link assets/images/programs/{{ card.image }}.webp %}'), url('{% link assets/images/programs/{{ card.image }}.jpg %}');">
            <div class="card__content">
              <p class="h6 mb-2">Key Features</p>
              {% for item in card.features %}
              <p>{{ item.title }}</p>
              {% endfor %}
            </div>
            <div class="card__content">
              <p class="h6 mb-2">Benefits</p>
              {% for item in card.features %}
              <p>{{ item.title }}</p>
              {% endfor %}
            </div>
            <div class="card__header">
              <h3 class="card__title">{{ card.title }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% svg assets/graphic/separator-inverted.svg class="separator separator--bottom separator--primary" %}
</section>

<section id="contact" class="section section--primary">
  <div class="section__container">
    <div class="section__header">
      <h2 class="section__title">Transform Your Life Now</h2>
      <p class="section__subtitle">Let go of the weight—both physical and emotional—that has held you back. Together, let us redefine beauty, health, and
      happiness. Your journey to feeling and looking your best begins now.</p>
    </div>
    <section class="section__content card--form">
      <script src="https://us.lenus.io/api/v1/21c4e754-c6f1-11ec-959d-3f4f16c10a4e/form/lead-form" type="text/javascript"></script>
    </section>
  </div>
</section>
