// —————————————————————————————————————————————————————————————————
// elements
// size
// variants
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__media,
  &__mediaInner {
    overflow: hidden;
    border-radius: $border-radius-md;
  }

  &__mediaInner {
    padding-bottom: 66.66%;
  }

  &__icon {
    height: $spacing-lg + $spacing-md;
    width: $spacing-lg + $spacing-md;
    fill: $text-alt;
  }

  &__content {
    position: relative;
  }

  &__actions {
    margin-top: auto; // when grid with multiple cards, aligns the buttons vertically at the bottom of the card
  }

  &__title {
    color: $primary;
  }
}

// —————————————————————————————————————————————————————————————————
// size
// —————————————————————————————————————————————————————————————————

@mixin size($proportion, $size) {

  .card {

		&__header,
		&__content,
		&__actions {

			&:not(:first-child) {
				margin-top: $size;
			}
		}

		&__image {
			border-radius: $size/3;
		}

		&__label {

			& + .card__title {
        margin-top: $size/3;
			}
		}
	
		&__title,
		&__subtitle {
	
			& + .card__subtitle {
				margin-top: $size/2;
			}
		}

    &__title {

      @if $proportion == sm { @extend %h6; }
      @else if $proportion == md { @extend %h5; }
      @else if $proportion == lg { @extend %h4; }
    }
	}

  &.card--background {
    background-color: $background-default;
    padding: $size*2;
    border-radius: $size;
  }
}

.card {

  &--sm { @include size(sm, $spacing-sm); }
	&--md { @include size(md, $spacing-md); }
	&--lg { @include size(lg, $spacing-md*1.5); }
}

// —————————————————————————————————————————————————————————————————
// variants
// —————————————————————————————————————————————————————————————————

.card--testimonials {

  .card__media {
    height: $spacing-xxl;
    width: $spacing-xxl;
    border-radius: 50%;
  }
}

.card--programs {
  padding: $spacing-lg;
  border-radius: $border-radius-md;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($background-default, 0.8);
  }

  > * {
    position: relative;
  }
}

.card--form {
  padding: $spacing-md;
  border-radius: $border-radius-md;
  background-color: $background-default;
}