// —————————————————————————————————————————————————————————————————
// elements
// position
// variants
// color
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.separator {
  width: 100vw;
  height: $spacing-separator;
  z-index: 1;
  fill: $background-default;
}

// —————————————————————————————————————————————————————————————————
// position
// —————————————————————————————————————————————————————————————————

.separator {

  &--top {
    @include calc(top, -$spacing-separator '+ 1px');
    transform: rotate(180deg);
  }

  &--bottom {
    @include calc(bottom, -$spacing-separator '+ 1px');
  }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————

.separator {

  &--paper { fill: $background-paper; }
  &--primary { fill: $primary; }
}
