// —————————————————————————————————————————————————————————————————
// elements
// position
// color
// —————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————
// elements
// —————————————————————————————————————————————————————————————————

.separator {
  position: absolute;
  left: 0;
  width: 100vw;
  height: auto;
}

// —————————————————————————————————————————————————————————————————
// position
// —————————————————————————————————————————————————————————————————

.separator {

  &--top { top: -1px; }
  &--bottom { bottom: -1px; transform: rotate(180deg); }
}

// —————————————————————————————————————————————————————————————————
// color
// —————————————————————————————————————————————————————————————————
