<footer class="section section--paper footer">
  <div class="section__container">
    <div class="section__content">
      <div class="card card--md">
        <div class="card__content">
          {% svg assets/graphic/logo.svg class="navbar__logo" %}
        </div>
        <div class="card__content overline">
          <p>© Copyright 2023 Doe Fitness. All rights reserved.</p>
          <p>Doe Fitness is a company registered in the USA. Company No. 85939582.</p>
        </div>
      </div>
      {% include components/social.html %}
    </div>
  </div>
</footer>
