<header class="section navbar">
  <div class="section__container">
    <button aria-label="Open mobile menu" class="navbar__button js-button-menu button--menu show-tablet">
      <i class="button__inner"></i>
    </button>
    <div class="navbar__main">
      <a href="{% link index.html %}">{% svg assets/graphic/logo.svg class="navbar__logo" %}</a>
    </div>
    <nav class="navbar__nav nav">
      <ul class="nav__container">
        {% for item in site.data.nav %}
        <li class="nav__item">
          <a class="nav__trigger" href="#{{ item.title | slugify }}" data-text="{{ item.title }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        {% include components/button.html size="sm" %}
      </ul>
    </nav>
  </div>
</header>
